$primary: teal;
$danger: rgb(223, 67, 47);

@import '~bootstrap/scss/bootstrap';
.image-container img {
	max-height: 100px;
}

input,
button {
	outline: none !important;
	box-shadow: none !important;
}
